In [5]:
range(20)
for sat in range(20):
    print(sat)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [24]:
range(10,20)
for x in range(10,20):
    print(x, end=" ")

10 11 12 13 14 15 16 17 18 19

In [7]:
list1=[10, 20, 14 ,55 ,43 ,87 ,76 ]
print(list1)
print("Total lenth of numbers:")
print(len(list1))

[10, 20, 14, 55, 43, 87, 76]
Total lenth of numbers:
7

In [9]:
list1=[11,22,33,44,55,66,77,99,100]
print(list1)
print("output lenth=")
print(len(list1))

[11, 22, 33, 44, 55, 66, 77, 99, 100]
output lenth=
9

In [11]:
print("Artificial Intelligence")
sat="Artificial Intelligence"
for kum in sat:
    print(kum)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
list=["-Your Name-", "-Your Age-", "-Your Profession-", "-your date of birth-"]
for sat in list:
      print(sat)

-Your Name-
-Your Age-
-Your Profession-
-your date of birth-

In [15]:
#(1, 'Welcome', 2, 'Hope')
Tuple1=("1, 'welcome'", "2, 'hope'")
print(Tuple1)

("1, 'welcome'", "2, 'hope'")

In [22]:
tuple1= (0, 1, 2, 3)
tuple2= ('#, Python','#, Hope')
tuple3= tuple1+tuple2
print(tuple3)

(0, 1, 2, 3, '#, Python', '#, Hope')

In [19]:
num=[20,10,16,19,25,1,276,188]
print("20,10,16,19,25,1,276,188")
for sat in num:
    if sat%2==1:
        print(sat, "odd is no")

20,10,16,19,25,1,276,188
19 odd is no
25 odd is no
1 odd is no

In [20]:
num=[20,10,16,19,25,1,276,188]
print("20,10,16,19,25,1,276,188")
for sat in num:
    if sat%2==0:
        print(sat,"is even number")

20,10,16,19,25,1,276,188
20 is even number
10 is even number
16 is even number
276 is even number
188 is even number